@import url('https//fonts.cdnfonts.com/css/ica-rubrik-black');

.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slider{
  position:absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style:  preserve-3d;
  transform: perspective(1200px);
  animation: autoRun 20s linear infinite;
  z-index: 1;
  animation-timing-function: ease-in-out;
  transition: animation-play-state 0.5s ease-in-out, animation-direction 0.5s ease-in-out;
}

@keyframes autoRun{
  from {
    transform: perspective(1200px) rotateX(-12deg) rotateY(0deg);
  }to{
    transform: perspective(1200px) rotateX(-12deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: 
    rotateY(calc((var(--position))*(360/var(--quantity)) * 1deg))
    translateZ(550px);
}

.banner .slider .item img{
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
  border: 5px solid rgba(214, 214, 214, 0.395);
  /* box-shadow: 0px 0px 17px rgba(125, 125, 125, 0.493); */
  opacity: 98%;
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.banner .content h1 {
  font-family: 'ICA Rubrik';
  font-size: 12rem;
  line-height: 1rem;
  color: #313131;
  position: relative;
  -webkit-text-stroke:2px solid yellow;
}

.banner .content h1:after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  -webkit-text-stroke: 2px yellow;
  color: transparent;
  filter: invert(0.2);
  z-index: 2;

}

.banner .content .author {
  text-align: right;
  font-family: Poppins;
  max-width: 200px;
}

.banner .content h2 {
  font-size: 3rem;
}

.banner .content .model {
  background-image: url(images/model.png);
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
}

.circle {
  position: relative;
  z-index:-10;
  height: 400px;
  width: 400px;
  background-color: rgba(255, 255, 0, 0.533);
  top: 50%;
  left: 37%;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  box-shadow: 0 0 200px yellow;
}